.post-list {
    line-height: 2;
}

.title {
    font-size: 36px;
    text-align: center;
}

.book-list {
    width: 80%;
    margin: 0 auto;
}

.book-item {
    display: inline-block;
    width: 23%;
    margin-right: 1%;
}

.book-cover {
    width: 100%;
    display: block;
}

.book-info {
    padding: 14px;
}

.author,
.vote {
    font-size: 13px;
    color: #999;
}


